<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-12 col-12">
            <div class="card-body">
<img src="https://wallpapers.com/images/hd/tirupati-balaji-venkateswara-vibrant-statue-eqgl1yj5zkf1mhod.jpg" alt=""  class="img1">
</div>
    </div>
</div>
</div>
<h1 class="head">Piligram services</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card-body">
                <img src="https://online.tirupatibalaji.ap.gov.in/misc/images/v4/KALYANAVEDIKA_WEB_ICON.svg " style="width:80px;height: 80px; ">
            </div>
          <div class="card-text">
                <h6>Sri srinivasa Divyanugraha Homam</h6>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card-body">
                <img src="https://online.tirupatibalaji.ap.gov.in/misc/images/v4/SEVA_WEB_ICON.svg " style="width:80px;height: 80px;  ">
            </div>
           <div class="card-text">
                <h6>Srivari Arjitha Sevas</h6>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card-body">
                <img src=" https://online.tirupatibalaji.ap.gov.in/misc/images/v4/SED_WEB_ICON.svg" style="width:80px;height: 80px; ">
            </div>
       <div class="card-text">
                <h6>Special entry Darshan</h6>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card-body">
                <img src="https://online.tirupatibalaji.ap.gov.in/misc/images/v4/Swamivari_ehundi_web.svg " style="width:80px;height: 80px;">
            </div>
           <div class="card-text">
                <h6>Swamivary Hundi</h6>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-3">
                <div class="card-body">
                    <img src=" https://online.tirupatibalaji.ap.gov.in/misc/images/v4/SED_WEB_ICON.svg" style="width:80px;height: 80px; ">
                </div>
               <div class="card-text">
                    <h6>TTD Temples</h6>
                </div>
    
            </div>
            <div class="col-md-3">
                <div class="card-body">
                    <img src=" https://online.tirupatibalaji.ap.gov.in/misc/images/v4/KALYANAMANDAPAM_WEB_ICON.svg" style="width:80px;height: 80px;  ">
                </div>
               <div class="card-text">
                    <h6>Kalyanamandapam</h6>
                </div>
    
            </div>
            <div class="col-md-3">
                <div class="card-body">
                    <img src="https://online.tirupatibalaji.ap.gov.in/misc/images/v4/ACC_WEB.svg " style="width:80px;height: 80px;  ">
                </div>
              <div class="card-text">
                    <h6>Accomodation</h6>
                </div>
            </div>
            <div class="col-md-3">
            <div class="card-body">
                        <img src=" https://online.tirupatibalaji.ap.gov.in/misc/images/v4/SEVA_WEB_ICON.svg" style="width:80px;height: 80px;  ">
                    </div>
                    <div class="card-text">
                        <h6>Seva Electronic DIP</h6>
                    </div>
            </div>
            <div class="col-md-3">
                <div class="card-body">
                            <img src="https://online.tirupatibalaji.ap.gov.in/misc/images/v4/APD_WEB_ICON.svg " style="width:80px;height: 80px;  ">
                        </div>
                        <div class="card-text">
                            <h6>Anagapradhakshinam</h6>
                        </div>
                </div>
                <div class="col-md-3">
                    <div class="card-body">
                                <img src="https://online.tirupatibalaji.ap.gov.in/misc/images/v4/KALYANAVEDIKA_WEB_ICON.svg " style="width:80px;height: 80px;  ">
                            </div>
                            <div class="card-text">
                                <h6>Kalyanavedika</h6>
                            </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-body">
                                    <img src="https://online.tirupatibalaji.ap.gov.in/misc/images/v4/PANCHAGAVYA_WEB_ICON.svg " style="width:80px;height: 80px;  ">
                                </div>
                                <div class="card-text">
                                    <h6>Panchagavyya Products</h6>
                                </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                        <img src="https://online.tirupatibalaji.ap.gov.in/misc/images/v4/Swamivari_ehundi_web.svg " style="width:80px;height: 80px;  ">
                                    </div>
                                    <div class="card-text">
                                        <h6>Swamivarie Hundi</h6>
                                    </div>
                            </div>
               
                    
                      
            
        
    

        </div>
    </div>

</div> 
 
 
