<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col-md-4" style="background-color:lightgrey">
            <div class="card">
                <div class="card-header" style="background-color:rgb(245, 81, 31);color : aliceblue;">
                    <h2>Srivari seva services</h2>
                </div>
                <div class="card-header" style="background-color:rgb(220, 65, 101); color:aliceblue;">
                    <h4>SEVAS</h4>
                </div>
                <div class="card-title">

                </div>
                <div class="card-boby">
                    <img src="https://rukminim2.flixcart.com/image/850/1000/kx3l0nk0/shopsy-poster/w/i/t/medium-lord-balaji-on-fine-art-paper-hd-quality-wallpaper-poster-original-imag9mtqavqrrmv7.jpeg?q=90&crop=false" class="img-top" alt="" height="310" width="390">
                </div>
                <div class="card-footer" style="background-color:rgb(144, 151, 156); color:aliceblue;">
                    <h6>* Arjitha sevas</h6>
                    <h6>* Daily sevas</h6>
                    <h6>* Weekly sevas</h6>
                    <h6>* Annual sevas</h6>
                </div>
            </div>
        </div>
       <div class="col-md-4" style="background-color:lightgrey">
            <div class="card">
                <div class="card-header"style="background-color:rgb(245, 81, 31);color : aliceblue;">
                    <h2>Online Booking</h2>
                </div>
                <div class="card-header" style="background-color:rgb(220, 65, 101);color : aliceblue;">
                    <h5>Annamaya Pataku pattabishekam</h5>
                    <h5>Saranagathi gadhyam</h5>
                    <h5>Sri Ramanuja Sahasraabdhi</h5>
                </div>
                <div class="card-title">

                </div>
                <div class="card-boby">
                    <img src="https://c4.wallpaperflare.com/wallpaper/174/341/169/god-lord-shrinathji-wallpaper-preview.jpg" class="img-top" alt="" height="270" width="390">
                </div>
                <div class="card-footer" style="background-color:rgb(144, 151, 156);color : aliceblue;">
                    <h6>* Darshanam</h6>
                    <h6>* Divya Darshanam</h6>
                    <h6>* Special Entry Darshan(Seeghra Darshan)</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="background-color:lightgrey">
            <div class="card">
                <div class="card-header"style="background-color:rgb(245, 81, 31); color : aliceblue;">
                    <h5>>> Hindu Dharma prachara parishad</h5>
                </div>
                <div class="card-header"style="background-color:rgb(245, 81, 31); color : aliceblue;">
                    <h5>>> ePubilcations</h5>
                </div>
                <div class="card-header"style="background-color:rgb(245, 81, 31); color : aliceblue;">
                    <h5>Sri Annamacharya & other Vaggeyakaras</h5>
                </div>
                <div class="card-header"style="background-color:rgb(220, 65, 101); color : aliceblue;">
                    <h2>Accomodation</h2>
                </div>
                <div class="card-title">

                </div>
                <div class="card-boby">
                    <img src="https://www.livechennai.com/businesslistings/News_photo/accommodation191216.jpg" class="img-top" alt="" height="210" width="390">
                </div>
                <div class="card-footer" style="background-color:rgb(144, 151, 156);color : aliceblue;">
                    <h6>* Accomodation</h6>
                    <h6>* Adavanced Reservation</h6>
                    <h6>* Rest Houses & Tariffs</h6>
                </div>
                </div>
        </div>
                <div class="container-fluid d-flex justify-content-center">
                    <div class="row">
                <div class="card-text" style="background-color:rgb(175, 174, 161);color : aliceblue;">
                    <h1 class="head">Tirumala Tirupati Devasthanams</h1>
                    <h6>Tirumala Tirupati Devasthanams (TTD) is an independent trust which manages various temples, including the Tirumala Venkateswara Temple in Andhra Pradesh, India. </h6>
                    <h6>*Besides the sacred Vaishnavite iconic temple of Lord Sri Venkateswara Swamy which is a marvel and a masterpiece of Dravidian architecture, there are many other places to visit and things to admire on the Tirumala hills. Some of the must visit places in Tirumala are Swami Pushkarini, Sri Bhu Varaha Swamy temple, Sri Hathiramjee Mutt, Sri Bedi Anjaneya Swamy temple, Srivari Sikhara Darshanam, Sila Thoranam, Dharmagiri, Narayangiri, Papavinasanam, Akasa Ganga water falls, Temple Museum, Asthana Mandapams and Gogarbham Gardens.<h6></h6>
                        <h4 class="tira">THEEERTHAMS</h4>
                       <h6>* There are several teerthams in Tirumala, some of them are Pandava Teertham, Kumaradhara Teertham, Tumbhuru Teertham, Ramakrishna Teertham, Chakra Teertham, Vaikuntha Teertham, Sesha Teertham, Sitamma Teertham, Pasupu Teertham, Jupali Teertham, Sanaka Sanandana Teertham. Important festivals that are held at the teerthams are -Kumaradhara Magha Pournami, Ramakrishna Pushya Pournami Tumbhuru Phalguna Pournami, Chakra Karthika Masa – Ksheerabdhi Dwadasi.</h6>
               
                   
                
            
 
